OneCook.Api/obj/OneCook.Api.csproj.nuget.dgspec.json
OneCook.Api/obj/OneCook.Api.csproj.nuget.g.props
OneCook.Api/obj/OneCook.Api.csproj.nuget.g.targets
OneCook.Api/obj/project.assets.json
OneCook.Api/obj/project.nuget.cache
OneCook.Api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.AssemblyInfo.cs
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.AssemblyInfoInputs.cache
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.assets.cache
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.csprojAssemblyReference.cache
.vs/OneCook/v16/.suo
OneCook.BL/obj/OneCook.BL.csproj.nuget.dgspec.json
OneCook.BL/obj/OneCook.BL.csproj.nuget.g.props
OneCook.BL/obj/OneCook.BL.csproj.nuget.g.targets
OneCook.BL/obj/project.assets.json
OneCook.BL/obj/project.nuget.cache
OneCook.BL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.AssemblyInfo.cs
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.AssemblyInfoInputs.cache
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.assets.cache
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.csprojAssemblyReference.cache
OneCook.DL.VM/obj/OneCook.DL.VM.csproj.nuget.dgspec.json
OneCook.DL.VM/obj/OneCook.DL.VM.csproj.nuget.g.props
OneCook.DL.VM/obj/OneCook.DL.VM.csproj.nuget.g.targets
OneCook.DL.VM/obj/project.assets.json
OneCook.DL.VM/obj/project.nuget.cache
OneCook.DL.VM/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.AssemblyInfo.cs
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.AssemblyInfoInputs.cache
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.assets.cache
OneCook.DL/obj/OneCook.DL.csproj.nuget.g.props
OneCook.DL/obj/OneCook.DL.csproj.nuget.g.targets
OneCook.DL/obj/project.assets.json
OneCook.DL/obj/project.nuget.cache
OneCook.DL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.AssemblyInfo.cs
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.AssemblyInfoInputs.cache
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.assets.cache
OneCook.DL/obj/OneCook.DL.csproj.nuget.dgspec.json
OneCook.Api/bin/Debug/netcoreapp3.1/appsettings.Development.json
OneCook.Api/bin/Debug/netcoreapp3.1/appsettings.json
OneCook.Api/bin/Debug/netcoreapp3.1/Humanizer.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.Api.deps.json
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.Api.dll
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.Api.exe
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.Api.pdb
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.Api.runtimeconfig.dev.json
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.Api.runtimeconfig.json
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.DL.dll
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.DL.pdb
OneCook.Api/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
OneCook.Api/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
OneCook.Api/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
OneCook.Api/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
OneCook.Api/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
OneCook.Api/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
OneCook.Api/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
OneCook.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.csproj.CopyComplete
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.csproj.CoreCompileInputs.cache
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.csproj.FileListAbsolute.txt
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.dll
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.exe
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.genruntimeconfig.cache
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.MvcApplicationPartsAssemblyInfo.cache
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.pdb
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.RazorTargetAssemblyInfo.cache
OneCook.Api/obj/Debug/netcoreapp3.1/staticwebassets/OneCook.Api.StaticWebAssets.Manifest.cache
OneCook.Api/obj/Debug/netcoreapp3.1/staticwebassets/OneCook.Api.StaticWebAssets.xml
OneCook.BL/bin/Debug/netcoreapp3.1/OneCook.BL.deps.json
OneCook.BL/bin/Debug/netcoreapp3.1/OneCook.BL.dll
OneCook.BL/bin/Debug/netcoreapp3.1/OneCook.BL.pdb
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.csproj.CoreCompileInputs.cache
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.csproj.FileListAbsolute.txt
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.dll
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.pdb
OneCook.DL.VM/bin/Debug/netcoreapp3.1/OneCook.DL.VM.deps.json
OneCook.DL.VM/bin/Debug/netcoreapp3.1/OneCook.DL.VM.dll
OneCook.DL.VM/bin/Debug/netcoreapp3.1/OneCook.DL.VM.pdb
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.csproj.CoreCompileInputs.cache
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.csproj.FileListAbsolute.txt
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.csprojAssemblyReference.cache
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.dll
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.pdb
OneCook.DL/bin/Debug/netcoreapp3.1/OneCook.DL.deps.json
OneCook.DL/bin/Debug/netcoreapp3.1/OneCook.DL.dll
OneCook.DL/bin/Debug/netcoreapp3.1/OneCook.DL.pdb
OneCook.DL/bin/Debug/netcoreapp3.1/OneCook.DL.runtimeconfig.dev.json
OneCook.DL/bin/Debug/netcoreapp3.1/OneCook.DL.runtimeconfig.json
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.csproj.CoreCompileInputs.cache
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.csproj.FileListAbsolute.txt
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.csprojAssemblyReference.cache
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.dll
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.genruntimeconfig.cache
OneCook.DL/obj/Debug/netcoreapp3.1/OneCook.DL.pdb
OneCook.DL.VM/bin/Debug/netcoreapp3.1/OneCook.DL.dll
OneCook.DL.VM/bin/Debug/netcoreapp3.1/OneCook.DL.pdb
OneCook.DL.VM/obj/Debug/netcoreapp3.1/OneCook.DL.VM.csproj.CopyComplete
OneCook.Api/obj/Debug/netcoreapp3.1/OneCook.Api.MvcApplicationPartsAssemblyInfo.cs
OneCook.BL/bin/Debug/netcoreapp3.1/OneCook.DL.dll
OneCook.BL/bin/Debug/netcoreapp3.1/OneCook.DL.pdb
OneCook.BL/bin/Debug/netcoreapp3.1/OneCook.DL.VM.dll
OneCook.BL/bin/Debug/netcoreapp3.1/OneCook.DL.VM.pdb
OneCook.BL/obj/Debug/netcoreapp3.1/OneCook.BL.csproj.CopyComplete
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.BL.dll
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.BL.pdb
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.DL.VM.dll
OneCook.Api/bin/Debug/netcoreapp3.1/OneCook.DL.VM.pdb
OneCook.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
.vs/OneCook/config/applicationhost.config
.vs/OneCook/DesignTimeBuild/.dtbcache.v2
OneCook.Api/bin/Debug/netcoreapp3.1/Azure.Core.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Azure.Storage.Blobs.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Azure.Storage.Common.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Features.dll
OneCook.Api/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
OneCook.Api/bin/Debug/netcoreapp3.1/System.IO.Pipelines.dll
OneCook.DB/obj/
OneCook.DB/bin/
OneCook.Api/bin/
OneCook.Api/obj/
OneCook.DB/OneCook.DB.dbmdl
OneCook.DB/OneCook.DB.jfm
